{% extends 'base.html' %}

{% block title %}
Summary
{% endblock %}

{% block content %}
<h3 class="text-center">Generated Summary</h3>
<div class="summary">
	<p>{{ summary }}</p>
</div>

<div class="col-sm-offset-4 col-sm-6">
	<a class="btn btn-success btn-sm resetBtn" href="{% url 'app:download' %}" role="button">Download</a>
	<a class="btn btn-warning btn-sm resetBtn" href="{% url 'app:regenerate' %}" role="button">Regenerate</a>
	<a class="btn btn-danger btn-sm resetBtn" href="{% url 'app:delete' %}" role="button">Reset</a>
</div>
{% endblock %}
